/**
 * Syntax highlighting styles
 */
.highlight {
   background: #333;
}

.post-content .gist {
    font-size: 0.95em;
}

.markdown-body {
    background: darken($background-color, 5%);
}

.post-content .gist .markdown-body pre {
    background: #333 !important;
}

.highlight,
.post-content .gist
 {
    @extend %vertical-rhythm;

    .highlighter-rouge & {
        background: #333;
    }

    .highlight {
        font-size: inherit;
    }

    table.highlight {
        margin: 0.3em;
    }

    .gist-data {
        background: #333;
    }

    .blob-code-inner {
        background: #333;
        color: #dcdcdc;
        font-size: inherit;
    }

    .blob-num {
        color: rgb(43, 145, 175);
        background: #333;
        border: none;
        font-size: inherit;
        padding: 0.15em 0.8em !important;
    }

    .blob-num:hover {
        color: rgb(43, 145, 175);
        background: #333;
        border: none;
    }

    .c     , .pl-c       { color: #998; font-style: italic } // Comment
    .err   , .pl-ii      { color: #a61717; background-color: #e3d2d2 } // Error
    .k     , .pl-k       { color: rgb(86, 156, 214) } // Keyword
    .o                   { } // Operator
    .cm                  { color: rgb(87, 166, 74) } // Comment.Multiline
    .cp                  { color: rgb(87, 166, 74) } // Comment.Preproc
    .c1                  { color: rgb(87, 166, 74); font-style: italic } // Comment.Single
    .cs                  { color: rgb(87, 166, 74); font-style: italic } // Comment.Special
    .gd    , .pl-md      { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x               { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    , .pl-ge      { font-style: italic } // Generic.Emph
    .gr    , .pl-gr      { color: #fcc } // Generic.Error
    .gh    , .pl-gh      { color: #bbb } // Generic.Heading
    .gi    , .pl-mi1     { color: inherit; background-color: #575 } // Generic.Inserted
    .gi .x               { color: inherit; background-color: #464 } // Generic.Inserted.Specific
             .pl-mc      { color: inherit; background-color: #353 } // Generic.Changed
    .go    , .pl-mo      { color: #bbb } // Generic.Output
    .gp    , .pl-gp      { color: #999 } // Generic.Prompt
    .gs    , .pl-gs      { color: inherit; } // Generic.Strong
    .gu    , .pl-gu      { color: #999 } // Generic.Subheading
    .gt    , .pl-gt      { color: #a00 } // Generic.Traceback
    .kc    , .pl-kc      { color: rgb(86, 156, 214) } // Keyword.Constant
    .kd    , .pl-kd      { color: rgb(86, 156, 214) } // Keyword.Declaration
    .kp    , .pl-kp      { color: rgb(86, 156, 214) } // Keyword.Pseudo
    .kr    , .pl-kr      { color: rgb(86, 156, 214) } // Keyword.Reserved
    .kt    , .pl-kt      { color: rgb(86, 156, 214) } // Keyword.Type
    .m     , .pl-m       { color: rgb(181, 206, 168) } // Literal.Number
    .s     , .pl-s       { color: rgb(214, 157, 133) } // Literal.String
             .pl-pds     { color: rgb(214, 157, 133) } // Literal.String
    .na    , .pl-na      { } // Name.Attribute
    .nb    , .pl-nb      {  } // Name.Builtin
    .nc    , .pl-nc      { color: rgb(78, 201, 176); } // Name.Class
             .pl-smi     { color: inherit; } // Name.Entity
    .no    , .pl-no      { color: #008080 } // Name.Constant
    .ni    , .pl-en      { color: inherit; } // Name.Entity
    .ne    , .pl-ne      { } // Name.Exception
    .nf    , .pl-nf      { } // Name.Function
    .nn    , .pl-nn      { } // Name.Namespace
    .nt    , .pl-nt      { color: #000080 } // Name.Tag
    .nv    , .pl-nv      { color: #008080 } // Name.Variable
    .ow    , .pl-ow      { } // Operator.Word
    .w     , .pl-w       { color: #bbb } // Text.Whitespace
             .pl-c1      { color: rgb(181, 206, 168) } // Literal.Number.Float
    .mf    , .pl-mf      { color: rgb(181, 206, 168) } // Literal.Number.Float
    .mh    , .pl-mh      { color: rgb(181, 206, 168) } // Literal.Number.Hex
    .mi    , .pl-mi      { color: rgb(181, 206, 168) } // Literal.Number.Integer
    .mo    , .pl-mo      { color: rgb(181, 206, 168) } // Literal.Number.Oct
    .sb    , .pl-sb      { color: rgb(214, 157, 133) } // Literal.String.Backtick
    .sc    , .pl-sc      { color: rgb(214, 157, 133) } // Literal.String.Char
    .sd    , .pl-sd      { color: rgb(214, 157, 133) } // Literal.String.Doc
    .s2    , .pl-s2      { color: rgb(214, 157, 133) } // Literal.String.Double
    .se    , .pl-se      { color: rgb(214, 157, 133) } // Literal.String.Escape
    .sh    , .pl-sh      { color: rgb(214, 157, 133) } // Literal.String.Heredoc
    .si    , .pl-si      { color: rgb(214, 157, 133) } // Literal.String.Interpol
    .sx    , .pl-sx      { color: rgb(214, 157, 133) } // Literal.String.Other
    .sr    , .pl-sr      { color: rgb(214, 157, 133) } // Literal.String.Regex
    .s1    , .pl-s1      { color: rgb(214, 157, 133) } // Literal.String.Single
    .ss    , .pl-ss      { color: rgb(214, 157, 133) } // Literal.String.Symbol
    .bp    , .pl-bp      { color: #999 } // Name.Builtin.Pseudo
    .vc    , .pl-vc      { color: #008080 } // Name.Variable.Class
    .vg    , .pl-vg      { color: #008080 } // Name.Variable.Global
    .vi    , .pl-vi      { color: #008080 } // Name.Variable.Instance
    .il    , .pl-il      { color: #099 } // Literal.Number.Integer.Long
             .pl-ba      { color: inherit; }
             .pl-corl    { color: rgb(86, 156, 214) }
}
